
/* =================================================================================================== */
/* < COLORS > */
/* =================================================================================================== */

// Black'n'whites
$ggsCBlack: #222222;
$ggsCCoal: #333333;
$ggsCPaleCoal: #515151;
$ggsCTextGrey: #666666;
$ggsCAlmostWhite: #f6f6f6;
$ggsCWhite: #ffffff;

// Colorful
$ggsCGreen: #338539;


/* =================================================================================================== */
/* < FONTS > */
/* =================================================================================================== */

$ggsF1: 'Source Sans Pro';
$ggsF2: 'Raleway';


/* =================================================================================================== */
/* < COMPLEX VALUES > */
/* =================================================================================================== */

// $glXBorderGreen: 2px solid $glCGreen;


/* =================================================================================================== */
/* < SCREEN SIZES > */
/* =================================================================================================== */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;