
/* =================================================================================================== */
/* < COLORS > */
/* =================================================================================================== */

// Black'n'whites
$ggsCBlack: #222222;
$ggsTextGrey: #666666;

// Colorful
$ggsCGreen: #338539;


/* =================================================================================================== */
/* < FONTS > */
/* =================================================================================================== */

$ggsFRegular1: 'Source Sans Pro';


/* =================================================================================================== */
/* < COMPLEX VALUES > */
/* =================================================================================================== */

// $glXBorderGreen: 2px solid $glCGreen;


/* =================================================================================================== */
/* < SCREEN SIZES > */
/* =================================================================================================== */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;